/* Ensure the body and html take full height */
html, body {
  height: 100%;  /* Full height for the body */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #c5c7bd;  /* Background color */
}

/* Main container flexbox layout */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  /* Ensures container takes full viewport height */
}

/* The content will grow and push the footer down */
.content-wrap {
  flex: 1;  /* Ensures the content grows to fill the remaining space */
}

/* Footer styling */
footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;  /* Ensures it spans the full width */
}

/* Welcome container styling */
.welcome-container {
  width: 100%;
  text-align: center;
  background-color: #282c34;
  color: #fff;
  padding: 20px 0;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

/* Upload box styling */
.upload-box {
  background-color: #333;
  color: white;
  padding: 20px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 20px auto;
}

input[type="file"] {
  margin: 10px 0;
  cursor: pointer;
}

button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
}

nav img {
  height: 50px;
}

/* Responsive design for small screens */
@media (max-width: 600px) {
  nav img {
    height: 30px;
  }
  nav {
    flex-direction: column;
    padding: 10px;
  }
  nav a, nav img {
    margin-bottom: 10px;
  }
}

